{% extends "base.html" %}
{% block title %}Notifications{% endblock title %}

{% block content %}
  <ul>
  {% for object in object_list %}
    <li>
      <a href="{% url 'notifications:detail' id=object.pk %}">[{{ object.pk }}] {{ object.title }}</a>
      {% if user.is_authenticated and object.author == user %}
         / ❌ <a href="#?" class="api__notifications__delete" data-id="{{ object.pk }}">Delete (API, ajax)</a>
         / ✏️ <a href="{% url 'notifications:edit' pk=object.pk %}">Edit</a>
      {% endif %}
    </li>
  {% endfor %}
  </ul>

{% endblock %}
